@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  margin:0;
  background-color:black;
  overflow-x: hidden;
}

.header {
  text-align:center;
}

#landingForm {
  text-align:center;
  padding:20px;
  font-size:20px;
}

.display {
  display:none;
}

#name {
  color:white;
  font-family:"Lato";
}
#player1, #player2 {
  padding:20px;
  background-color:orange;
  font-family: "Lato";
  font-weight:300;
}

#submit {
  background-color:lightblue;
  padding:20px;
  font-size:18px;
  font-family:"Lato";
  outline:none;
}

.backCard {
  background-image:url(img/Pokeball.svg);
  background-position:center;
  background-size:cover;
  width:200px;
  height:300px;
  background-color:white;
  border:2px solid black;
  float:left;
  margin:10px;
  border-radius:10px;
  border: 3px solid red;
}

.board {
  width:80%;
  margin:auto;
}

.open {
  transform: rotateY(0);
  background: #02b3e4;
}

.start {
  background-color:orange;
  padding:20px;
  font-family:"Lato";
  position:relative;
  text-align:center;
  display:block;
  margin:auto;
}

.playerCard {
  background-position:center;
  background-size:cover;
  width:200px;
  height:300px;
  background-color:white;
  border:2px solid black;
  float:left;
  margin:10px;
  position:relative;
  margin-top:50px;
  left:20%;
  border-radius:10px;
  border: 3px solid red;
}

.playerCard2 {
  background-position:center;
  background-size:cover;
  width:200px;
  height:300px;
  background-color:white;
  border:2px solid black;
  float:left;
  margin:10px;
  position:relative;
  margin-top:50px;
  left:50%;
  border-radius:10px;
  border: 3px solid red;
}

/*.fight {
  background-color:orange;
  font-family:"Lato";
  font-size:20px;
  position:relative
  left:-100px;
  bottom:0px;
}

.fight2 {
background-color:orange;
  font-family:"Lato";
  font-size:20px;
  position:relative;
  left:200px;
  bottom:0px;
}*/

.replay {
  background-color:orange;
  padding:30px;
  font-family:"Lato";
  font-size:30px;
  text-align:center;
  display:block;
  position:relative;
  top:100px;
  left:300px;
}

.pokemonName {
  font-family:"Lato";
  color:white;
  margin-top:75px;
  left:-10%;
  position:relative;
}

.pokemon2Name {
  font-family:"Lato";
  color:white;
  margin-top:-60px;
  left:35%;
  position:relative;
}

.pokemonMove {
  font-family:"Lato";
  color:red;
  top:300px;
  left:-10%;
  position:relative;
  z-index:2;
}

.pokemon2Move {
  font-family:"Lato";
  color:red;
  top:260px;
  left:35%;
  position:relative;
  z-index:2;
}

#health {
  position:relative;
  left:-10%;
  top:250px;
}

#health2 {
  position:relative;
  left:24%;
  top:250px;
}

.nextPokemon {
  font-family:"Lato";
  color:white;
  top:200px;
  left:-30%;
  position:relative;
  z-index:2;
}

.nextPokemon2 {
  font-family:"Lato";
  color:white;
  top:150px;
  left:50%;
  position:relative;
  z-index:2;
}

.winner {
    width: 400px;
    height: 600px;
    position:relative;
    top:0px;
    left:100px;
    -webkit-transition-property: height, width;
    -webkit-transition-duration: 3s;
    -moz-transition-property: height, width;
    -moz-transition-duration: 3s;
    transition-property: height, width;
    transition-duration: 3s;
}

.wins {
  font-family:"Lato";
  color:white;
  margin-top:0px;
  left:-10%;
  position:relative;
  top:-200px;
}

.wins2 {
  font-family:"Lato";
  color:white;
  margin-top:0px;
  left:35%;
  position:relative;
  top:-260px;
}

.winner1 {
  font-family:"Lato";
  color:white;
  margin-top:0px;
  left:-200px;
  position:relative;
  top:-100px;
}

.winner2 {
  font-family:"Lato";
  color:white;
  margin-top:0px;
  left:-200px;
  position:relative;
  top:-100px;
}

