@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  margin:0;
  background-color:black;
}

.header {
  text-align:center;
}

#landingForm {
  text-align:center;
  padding:20px;
  font-size:20px;
}

.display {
  display:none;
}

#name {
  color:white;
  font-family:"Lato";
}
#player1, #player2 {
  padding:20px;
  background-color:orange;
  font-family: "Lato";
  font-weight:300;
}

#submit {
  background-color:lightblue;
  padding:20px;
  font-size:18px;
  font-family:"Lato";
  outline:none;
}

.backCard {
  background-image:url(img/Pokeball.svg);
  background-position:center;
  background-size:cover;
  width:200px;
  height:300px;
  background-color:white;
  border:2px solid black;
  float:left;
  margin:10px;
}

.board {
  width:80%;
  margin:auto;
}

.open {
  transform: rotateY(0);
  background: #02b3e4;
}

.start {
  background-color:orange;
  padding:20px;
  font-family:"Lato";
  position:relative;
  text-align:center;
}
